.carousel {
  width: 55%;
  margin: 0 auto;
}

.carousel-inner {
  width: 100%;
  height: auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-item {
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 1200px) {
  .carousel {
      width: 75%;
  }
}

@media (max-width: 992px) {
  .carousel {
      width: 90%;
  }
}

@media (max-width: 768px) {
  .carousel {
      width: 100%;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
}

.list-unstyled li {
  transition: background-color 0.3s, transform 0.3s;
}

.list-unstyled li:hover {
  background-color: #e2e6ea;
  color: purple;
  transform: scale(1.05);
}
