.card {
    background-color: #f9f9f9;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.card:hover {
    background-color: rgb(209, 96, 209);
    color: white;
    transform: scale(1.05);
}

.card:hover .fa-icon {
    color: white;
}

.card:hover .card-title {
    color: white;
}
